@model IEnumerable<QuanLyBanSach.Models.ChuDe>


<div>
    <h2>Chu De</h2>
    @foreach (var chuDe in Model)
    {
        <a href="@Url.Action("SachTheoChuDe", "Sach", new { id = chuDe.MaCD })">
            @chuDe.MaCD
        </a>
    }
</div>

