@model IEnumerable<QuanLyBanSach.Models.NhaXuatBan>

<div class="danh-sach-nxb">
    @foreach (var nhaXuatBan in Model)
    {
        <div class="item">
            <a href="@Url.Action("SachTheoNXB", "Sach", new { id = nhaXuatBan.MaNXB})">
                @nhaXuatBan.TenNXB
            </a>
        </div>
    }
</div>
