.nav-logo {
    height: 75px;
    width: 75px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/logo.png');
}

@media (min-width: 576px) {
    .container {
        max-width: 576px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 992px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1366px) {
    .container {
        max-width: 1366px;
    }
}

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 328px);
    grid-auto-rows: 496px;
    grid-gap: 24px;
    padding-top: 24px;
}

.book {
    min-width: 328px;
    max-width: 328px;
    max-height: 496px;
    max-height: 496px;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
}

.footer {
    min-height: 100px;
}