
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-3">Xác nhận hơn hàng</h2>
<hr />
<p class="text-info">
    Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn
</p>

<a class="alert-link" href="@Url.Action("Index", "Sach")">
    Về trang chủ
</a>