@model IEnumerable<QuanLyBanSach.Models.Sach>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h1>
            Đây là trang chủ
        </h1>

        @foreach (var sach in Model)
        {
            <div class="container">
                <a href="#">@sach.TenSach</a>
                <p>@sach.GiaBan</p>
            </div>
        }
    </div>
</div>

